In [1]:
# from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import time
from flask import Flask, render_template, redirect
# from flask_pymongo import PyMongo
import pandas as pd

Scrape Diabetes Dataset

In [2]:
# URL of page to be scraped
# url = "https://www.stateofobesity.org/diabetes/" 
    # above url doesn't always pull, downloaded data to html
url = 'resources/diabetes.html'

tables = pd.read_html(url)
print(tables)

[    Rank                  State Diabetes Rate 2018  95% Confidence Interval  \
0      1         wWest Virginia              16.2%                      NaN
1      2               BAlabama              14.5%                      NaN
2      3           YMississippi              14.3%                      NaN
3      4              CArkansas              14.1%                      NaN
4      4             RLouisiana              14.1%                      NaN
5      6             pTennessee              13.9%                      NaN
6      7              QKentucky              13.8%                      NaN
7      8        nSouth Carolina              13.3%                      NaN
8      9               OIndiana              12.7%                      NaN
9     10               JGeorgia              12.6%                      NaN
10    11            fNew Mexico              12.5%                      NaN
11    11                 qTexas              12.5%                      NaN
12    13               IFlorida              12.4%                      NaN
13    14                  iOhio              12.2%                      NaN
14    14              jOklahoma              12.2%                      NaN
15    16        aNorth Carolina              12.1%                      NaN
16    17              HDelaware              12.0%                      NaN
17    18              TMaryland              11.9%                      NaN
18    19                PKansas              11.8%                      NaN
19    19              VMichigan              11.8%                      NaN
20    21                KHawaii              11.5%                      NaN
21    22              XMissouri              11.4%                      NaN
22    22          lPennsylvania              11.4%                      NaN
23    24              hNew York              11.0%                      NaN
24    25                kOregon              10.9%                      NaN
25    26               DArizona              10.8%                      NaN
26    27                gNevada              10.7%                      NaN
27    27          mRhode Island              10.7%                      NaN
28    29                 UMaine              10.5%                      NaN
29    29              sVirginia              10.5%                      NaN
30    31            eNew Jersey              10.4%                      NaN
31    32            ECalifornia              10.3%                      NaN
32    32         dNew Hampshire              10.3%                      NaN
33    34              NIllinois              10.1%                      NaN
34    34                  LIowa              10.1%                      NaN
35    36                 MIdaho               9.9%                      NaN
36    37            uWashington               9.8%                      NaN
37    38           GConnecticut               9.7%                      NaN
38    39              cNebraska               9.6%                      NaN
39    39          bNorth Dakota               9.6%                      NaN
40    41          oSouth Dakota               9.3%                      NaN
41    41               tVermont               9.3%                      NaN
42    43               ZMontana               9.2%                      NaN
43    44             WMinnesota               8.9%                      NaN
44    45             vWisconsin               8.7%                      NaN
45    45               xWyoming               8.7%                      NaN
46    47                AAlaska               8.6%                      NaN
47    47  yDistrict of Columbia               8.6%                      NaN
48    47         SMassachusetts               8.6%                      NaN
49    50                  rUtah               8.3%                      NaN
50    51              FColorado               7.1%                      NaN

    Trend 1990 - 2018
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
30                NaN
31                NaN
32                NaN
33                NaN
34                NaN
35                NaN
36                NaN
37                NaN
38                NaN
39                NaN
40                NaN
41                NaN
42                NaN
43                NaN
44                NaN
45                NaN
46                NaN
47                NaN
48                NaN
49                NaN
50                NaN  ]

In [3]:
factDF = tables[0]
factDF["State"] = factDF["State"].str[1:]
factDF["Diabetes Rate 2018"] = factDF["Diabetes Rate 2018"].str[:-1]
factDF = factDF.drop(["Trend 1990 - 2018", "95% Confidence Interval"], axis=1)
factDF = factDF.set_index("Rank")
factDF

                     State Diabetes Rate 2018
Rank
1            West Virginia               16.2
2                  Alabama               14.5
3              Mississippi               14.3
4                 Arkansas               14.1
4                Louisiana               14.1
6                Tennessee               13.9
7                 Kentucky               13.8
8           South Carolina               13.3
9                  Indiana               12.7
10                 Georgia               12.6
11              New Mexico               12.5
11                   Texas               12.5
13                 Florida               12.4
14                    Ohio               12.2
14                Oklahoma               12.2
16          North Carolina               12.1
17                Delaware               12.0
18                Maryland               11.9
19                  Kansas               11.8
19                Michigan               11.8
21                  Hawaii               11.5
22                Missouri               11.4
22            Pennsylvania               11.4
24                New York               11.0
25                  Oregon               10.9
26                 Arizona               10.8
27                  Nevada               10.7
27            Rhode Island               10.7
29                   Maine               10.5
29                Virginia               10.5
31              New Jersey               10.4
32              California               10.3
32           New Hampshire               10.3
34                Illinois               10.1
34                    Iowa               10.1
36                   Idaho                9.9
37              Washington                9.8
38             Connecticut                9.7
39                Nebraska                9.6
39            North Dakota                9.6
41            South Dakota                9.3
41                 Vermont                9.3
43                 Montana                9.2
44               Minnesota                8.9
45               Wisconsin                8.7
45                 Wyoming                8.7
47                  Alaska                8.6
47    District of Columbia                8.6
47           Massachusetts                8.6
50                    Utah                8.3
51                Colorado                7.1

Scrape Population Dataset and combine with our dataframe

In [4]:
stateURL = "https://simple.wikipedia.org/wiki/List_of_U.S._states_by_population"

stateTables = pd.read_html(stateURL)
print(stateTables)

[    Rank in the fifty states, 2018  Rank in states & territories  \
0                              NaN                           NaN
1                              NaN                           NaN
2                              NaN                           NaN
3                              NaN                           NaN
4                              NaN                           NaN
5                              NaN                           NaN
6                              NaN                           NaN
7                              NaN                           NaN
8                              NaN                           NaN
9                              NaN                           NaN
10                             NaN                           NaN
11                             NaN                           NaN
12                             NaN                           NaN
13                             NaN                           NaN
14                             NaN                           NaN
15                             NaN                           NaN
16                             NaN                           NaN
17                             NaN                           NaN
18                             NaN                           NaN
19                             NaN                           NaN
20                             NaN                           NaN
21                             NaN                           NaN
22                             NaN                           NaN
23                             NaN                           NaN
24                             NaN                           NaN
25                             NaN                           NaN
26                             NaN                           NaN
27                             NaN                           NaN
28                             NaN                           NaN
29                             NaN                           NaN
30                             NaN                           NaN
31                             NaN                           NaN
32                             NaN                           NaN
33                             NaN                           NaN
34                             NaN                           NaN
35                             NaN                           NaN
36                             NaN                           NaN
37                             NaN                           NaN
38                             NaN                           NaN
39                             NaN                           NaN
40                             NaN                           NaN
41                             NaN                           NaN
42                             NaN                           NaN
43                             NaN                           NaN
44                             NaN                           NaN
45                             NaN                           NaN
46                             NaN                           NaN
47                             NaN                           NaN
48                             NaN                           NaN
49                             NaN                           NaN
50                             NaN                           NaN
51                             NaN                           NaN
52                             NaN                           NaN
53                             NaN                           NaN
54                             NaN                           NaN
55                             NaN                           NaN
56                             NaN                           NaN
57                             NaN                           NaN
58                             NaN                           NaN
59                             NaN                           NaN

                                                 Name  \
0                                          California
1                                               Texas
2                                             Florida
3                                            New York
4                                        Pennsylvania
5                                            Illinois
6                                                Ohio
7                                             Georgia
8                                      North Carolina
9                                            Michigan
10                                         New Jersey
11                                           Virginia
12                                         Washington
13                                            Arizona
14                                      Massachusetts
15                                          Tennessee
16                                            Indiana
17                                           Missouri
18                                           Maryland
19                                          Wisconsin
20                                           Colorado
21                                          Minnesota
22                                     South Carolina
23                                            Alabama
24                                          Louisiana
25                                           Kentucky
26                                             Oregon
27                                           Oklahoma
28                                        Connecticut
29                                        Puerto Rico
30                                               Utah
31                                               Iowa
32                                             Nevada
33                                           Arkansas
34                                        Mississippi
35                                             Kansas
36                                         New Mexico
37                                           Nebraska
38                                      West Virginia
39                                              Idaho
40                                             Hawaii
41                                      New Hampshire
42                                              Maine
43                                            Montana
44                                       Rhode Island
45                                           Delaware
46                                       South Dakota
47                                       North Dakota
48                                             Alaska
49                               District of Columbia
50                                            Vermont
51                                            Wyoming
52                                               Guam
53                                U.S. Virgin Islands
54                                     American Samoa
55                           Northern Mariana Islands
56                           Contiguous United States
57                                   The fifty states
58                Fifty states + District of Columbia
59  Total U.S. (including District of Columbia and...

   Population estimate, July 1, 2019[4] Census population, April 1, 2010[5]  \
0                              39865590                            37254523
1                              29206997                            25145561
2                              21299325                            18801310
3                              19542209                            19378102
4                              12807060                            12702379
5                              12741080                            12830632
6                              11689442                            11536504
7                              10519475                             9687653
8                              10383620                             9535483
9                               9995915                             9883640
10                              8908520                             8791894
11                              8517685                             8001024
12                              7535591                             6724540
13                              7171646                             6392017
14                              6902149                             6547629
15                              6770010                             6346105
16                              6691878                             6483802
17                              6126452                             5988927
18                              6042718                             5773552
19                              5813568                             5686986
20                              5695564                             5029196
21                              5611179                             5303925
22                              5084127                             4625364
23                              4887871                             4779736
24                              4659978                             4533372
25                              4468402                             4339367
26                              4190713                             3831074
27                              3943079                             3751351
28                              3572665                             3574097
29                              3195153                             3725789
30                              3161105                             2763885
31                              3156145                             3046355
32                              3034392                             2700551
33                              3013825                             2915918
34                              2986530                             2967297
35                              2911505                             2853118
36                              2095428                             2059179
37                              1929268                             1826341
38                              1805832                             1852994
39                              1754208                             1567582
40                              1420491                             1360301
41                              1356458                             1316470
42                              1338404                             1328361
43                              1062305                              989415
44                              1057315                             1052567
45                               967171                              897934
46                               882235                              814180
47                               760077                              672591
48                               737438                              710231
49                               702455                              601723
50                               626299                              625741
51                               577737                              563626
52                           165,718[6]                          159,358[7]
53                           104,914[8]                          106,405[9]
54                           55,641[10]                          55,519[11]
55                           55,194[12]                          53,883[13]
56                            325009505                           306675006
57                            326464979                           308143815
58                            327167434                           308745538
59                            330744054                           312846492

   Percent increase from 2010-2019[note 1]  \
0                                    6.98%
1                                   15.86%
2                                    13.3%
3                                     0.8%
4                                     0.8%
5                                    -0.7%
6                                     1.3%
7                                     8.6%
8                                     8.9%
9                                     1.1%
10                                    1.3%
11                                    6.5%
12                                   12.1%
13                                   12.2%
14                                    5.4%
15                                    6.7%
16                                    3.2%
17                                    2.3%
18                                    4.7%
19                                    2.2%
20                                   13.2%
21                                    5.8%
22                                    9.9%
23                                    2.3%
24                                    2.8%
25                                    3.0%
26                                    9.4%
27                                    5.1%
28                                  -0.04%
29                                  -16.6%
30                                   14.4%
31                                    3.6%
32                                   12.4%
33                                    3.4%
34                                    0.6%
35                                    2.0%
36                                    1.8%
37                                    5.6%
38                                   -2.5%
39                                   11.9%
40                                    4.4%
41                                    3.0%
42                                    0.8%
43                                    7.4%
44                                    0.5%
45                                    7.7%
46                                    8.4%
47                                   13.0%
48                                    3.8%
49                                   16.7%
50                                   0.09%
51                                    2.5%
52                                    4.0%
53                                   -1.4%
54                                   0.22%
55                                    2.4%
56                                    6.0%
57                                    5.9%
58                                    6.0%
59                                    5.7%

   Total seats in the U.S. House of Representatives, 2013–2023  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                     1 (non-voting)
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
43                                                NaN
44                                                NaN
45                                                NaN
46                                                NaN
47                                                NaN
48                                                NaN
49                                     1 (non-voting)
50                                                NaN
51                                                NaN
52                                     1 (non-voting)
53                                     1 (non-voting)
54                                     1 (non-voting)
55                                     1 (non-voting)
56                               432 (+ 1 non-voting)
57                                                435
58                               435 (+ 1 non-voting)
59                               435 (+ 6 non-voting)

   Estimated population per electoral vote, 2018[note 2]  \
0                                              719219
1                                              755312
2                                              734459
3                                              673869
4                                              640353
5                                              637054
6                                              649413
7                                              657467
8                                              692241
9                                              624735
10                                             636323
11                                             655207
12                                             627966
13                                             651968
14                                             627468
15                                             615455
16                                             608353
17                                             612645
18                                             604272
19                                             581357
20                                             632840
21                                             561118
22                                             564903
23                                             543097
24                                             582497
25                                             558550
26                                             598673
27                                             563297
28                                             510381
29                                                  —
30                                             526851
31                                             526024
32                                             505732
33                                             502304
34                                             497755
35                                             485251
36                                             419086
37                                             385854

In [5]:
stateDF = stateTables[0]
stateDF.head()

,"Rank in the fifty states, 2018",Rank in states & territories,Name,"Population estimate, July 1, 2019[4]","Census population, April 1, 2010[5]",Percent increase from 2010-2019[note 1],"Total seats in the U.S. House of Representatives, 2013–2023","Estimated population per electoral vote, 2018[note 2]","Estimated population per House seat, 2018","Census population per House seat, 2010","Percent of the total U.S. population, 2018[note 3]"
0,NaN,NaN,California,39865590,37254523,6.98%,NaN,719219,746359,702885,12.01%
1,NaN,NaN,Texas,29206997,25145561,15.86%,NaN,755312,797273,698503,8.80%
2,NaN,NaN,Florida,21299325,18801310,13.3%,NaN,734459,788864,696468,6.44%
3,NaN,NaN,New York,19542209,19378102,0.8%,NaN,673869,723786,717707,5.91%
4,NaN,NaN,Pennsylvania,12807060,12702379,0.8%,NaN,640353,711503,705715,3.87%

In [6]:
# drop extra columns
stateDF = stateDF.loc[:,['Name',"Population estimate, July 1, 2019[4]"]]

# rename columns
stateDF=stateDF.rename(columns = {"Name":"State","Population estimate, July 1, 2019[4]":'Population_2019'})
stateDF

                                                State Population_2019
0                                          California        39865590
1                                               Texas        29206997
2                                             Florida        21299325
3                                            New York        19542209
4                                        Pennsylvania        12807060
5                                            Illinois        12741080
6                                                Ohio        11689442
7                                             Georgia        10519475
8                                      North Carolina        10383620
9                                            Michigan         9995915
10                                         New Jersey         8908520
11                                           Virginia         8517685
12                                         Washington         7535591
13                                            Arizona         7171646
14                                      Massachusetts         6902149
15                                          Tennessee         6770010
16                                            Indiana         6691878
17                                           Missouri         6126452
18                                           Maryland         6042718
19                                          Wisconsin         5813568
20                                           Colorado         5695564
21                                          Minnesota         5611179
22                                     South Carolina         5084127
23                                            Alabama         4887871
24                                          Louisiana         4659978
25                                           Kentucky         4468402
26                                             Oregon         4190713
27                                           Oklahoma         3943079
28                                        Connecticut         3572665
29                                        Puerto Rico         3195153
30                                               Utah         3161105
31                                               Iowa         3156145
32                                             Nevada         3034392
33                                           Arkansas         3013825
34                                        Mississippi         2986530
35                                             Kansas         2911505
36                                         New Mexico         2095428
37                                           Nebraska         1929268
38                                      West Virginia         1805832
39                                              Idaho         1754208
40                                             Hawaii         1420491
41                                      New Hampshire         1356458
42                                              Maine         1338404
43                                            Montana         1062305
44                                       Rhode Island         1057315
45                                           Delaware          967171
46                                       South Dakota          882235
47                                       North Dakota          760077
48                                             Alaska          737438
49                               District of Columbia          702455
50                                            Vermont          626299
51                                            Wyoming          577737
52                                               Guam      165,718[6]
53                                U.S. Virgin Islands      104,914[8]
54                                     American Samoa      55,641[10]
55                           Northern Mariana Islands      55,194[12]
56                           Contiguous United States       325009505
57                                   The fifty states       326464979
58                Fifty states + District of Columbia       327167434
59  Total U.S. (including District of Columbia and...       330744054

In [7]:
# get rid of any territories or "Totals" rows
stateDF = stateDF.iloc[:52]
stateDF

                   State Population_2019
0             California        39865590
1                  Texas        29206997
2                Florida        21299325
3               New York        19542209
4           Pennsylvania        12807060
5               Illinois        12741080
6                   Ohio        11689442
7                Georgia        10519475
8         North Carolina        10383620
9               Michigan         9995915
10            New Jersey         8908520
11              Virginia         8517685
12            Washington         7535591
13               Arizona         7171646
14         Massachusetts         6902149
15             Tennessee         6770010
16               Indiana         6691878
17              Missouri         6126452
18              Maryland         6042718
19             Wisconsin         5813568
20              Colorado         5695564
21             Minnesota         5611179
22        South Carolina         5084127
23               Alabama         4887871
24             Louisiana         4659978
25              Kentucky         4468402
26                Oregon         4190713
27              Oklahoma         3943079
28           Connecticut         3572665
29           Puerto Rico         3195153
30                  Utah         3161105
31                  Iowa         3156145
32                Nevada         3034392
33              Arkansas         3013825
34           Mississippi         2986530
35                Kansas         2911505
36            New Mexico         2095428
37              Nebraska         1929268
38         West Virginia         1805832
39                 Idaho         1754208
40                Hawaii         1420491
41         New Hampshire         1356458
42                 Maine         1338404
43               Montana         1062305
44          Rhode Island         1057315
45              Delaware          967171
46          South Dakota          882235
47          North Dakota          760077
48                Alaska          737438
49  District of Columbia          702455
50               Vermont          626299
51               Wyoming          577737

In [8]:
# find datatypes and convert if needed
stateDF.dtypes

stateDF.Population_2019 = stateDF.Population_2019.astype('int')

C:\Users\monol\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [9]:
stateDF.dtypes

State              object
Population_2019     int32
dtype: object

In [10]:
#merge stateDF with factDF
factDF = pd.merge(factDF,stateDF, how = 'left', on = 'State')

In [11]:
factDF

                   State Diabetes Rate 2018  Population_2019
0          West Virginia               16.2          1805832
1                Alabama               14.5          4887871
2            Mississippi               14.3          2986530
3               Arkansas               14.1          3013825
4              Louisiana               14.1          4659978
5              Tennessee               13.9          6770010
6               Kentucky               13.8          4468402
7         South Carolina               13.3          5084127
8                Indiana               12.7          6691878
9                Georgia               12.6         10519475
10            New Mexico               12.5          2095428
11                 Texas               12.5         29206997
12               Florida               12.4         21299325
13                  Ohio               12.2         11689442
14              Oklahoma               12.2          3943079
15        North Carolina               12.1         10383620
16              Delaware               12.0           967171
17              Maryland               11.9          6042718
18                Kansas               11.8          2911505
19              Michigan               11.8          9995915
20                Hawaii               11.5          1420491
21              Missouri               11.4          6126452
22          Pennsylvania               11.4         12807060
23              New York               11.0         19542209
24                Oregon               10.9          4190713
25               Arizona               10.8          7171646
26                Nevada               10.7          3034392
27          Rhode Island               10.7          1057315
28                 Maine               10.5          1338404
29              Virginia               10.5          8517685
30            New Jersey               10.4          8908520
31            California               10.3         39865590
32         New Hampshire               10.3          1356458
33              Illinois               10.1         12741080
34                  Iowa               10.1          3156145
35                 Idaho                9.9          1754208
36            Washington                9.8          7535591
37           Connecticut                9.7          3572665
38              Nebraska                9.6          1929268
39          North Dakota                9.6           760077
40          South Dakota                9.3           882235
41               Vermont                9.3           626299
42               Montana                9.2          1062305
43             Minnesota                8.9          5611179
44             Wisconsin                8.7          5813568
45               Wyoming                8.7           577737
46                Alaska                8.6           737438
47  District of Columbia                8.6           702455
48         Massachusetts                8.6          6902149
49                  Utah                8.3          3161105
50              Colorado                7.1          5695564

In [12]:
state_abbr_url = "https://simple.wikipedia.org/wiki/U.S._postal_abbreviations"

tables = pd.read_html(state_abbr_url)
state_abbr_df = tables[0].iloc[2:]
state_abbr_df = state_abbr_df.rename(columns={0: "Abbreviation", 1: "State"})
state_abbr_df

   Abbreviation           State
2            AK          Alaska
3            AL         Alabama
4            AR        Arkansas
5            AZ         Arizona
6            CA      California
7            CO        Colorado
8            CT     Connecticut
9            DE        Delaware
10           FL         Florida
11           GA         Georgia
12           HI          Hawaii
13           IA            Iowa
14           ID           Idaho
15           IL        Illinois
16           IN         Indiana
17           KS          Kansas
18           KY        Kentucky
19           LA       Louisiana
20           MA   Massachusetts
21           MD        Maryland
22           ME           Maine
23           MI        Michigan
24           MN       Minnesota
25           MO        Missouri
26           MS     Mississippi
27           MT         Montana
28           NC  North Carolina
29           ND    North Dakota
30           NE        Nebraska
31           NH   New Hampshire
32           NJ      New Jersey
33           NM      New Mexico
34           NV          Nevada
35           NY        New York
36           OH            Ohio
37           OK        Oklahoma
38           OR          Oregon
39           PA    Pennsylvania
40           RI    Rhode Island
41           SC  South Carolina
42           SD    South Dakota
43           TN       Tennessee
44           TX           Texas
45           UT            Utah
46           VA        Virginia
47           VT         Vermont
48           WA      Washington
49           WI       Wisconsin
50           WV   West Virginia
51           WY         Wyoming

In [13]:
factDF = pd.merge(factDF,state_abbr_df, how = 'left', on = 'State')

In [14]:
#factDF = factDF.set_index("State")

In [15]:
factDF

                   State Diabetes Rate 2018  Population_2019 Abbreviation
0          West Virginia               16.2          1805832           WV
1                Alabama               14.5          4887871           AL
2            Mississippi               14.3          2986530           MS
3               Arkansas               14.1          3013825           AR
4              Louisiana               14.1          4659978           LA
5              Tennessee               13.9          6770010           TN
6               Kentucky               13.8          4468402           KY
7         South Carolina               13.3          5084127           SC
8                Indiana               12.7          6691878           IN
9                Georgia               12.6         10519475           GA
10            New Mexico               12.5          2095428           NM
11                 Texas               12.5         29206997           TX
12               Florida               12.4         21299325           FL
13                  Ohio               12.2         11689442           OH
14              Oklahoma               12.2          3943079           OK
15        North Carolina               12.1         10383620           NC
16              Delaware               12.0           967171           DE
17              Maryland               11.9          6042718           MD
18                Kansas               11.8          2911505           KS
19              Michigan               11.8          9995915           MI
20                Hawaii               11.5          1420491           HI
21              Missouri               11.4          6126452           MO
22          Pennsylvania               11.4         12807060           PA
23              New York               11.0         19542209           NY
24                Oregon               10.9          4190713           OR
25               Arizona               10.8          7171646           AZ
26                Nevada               10.7          3034392           NV
27          Rhode Island               10.7          1057315           RI
28                 Maine               10.5          1338404           ME
29              Virginia               10.5          8517685           VA
30            New Jersey               10.4          8908520           NJ
31            California               10.3         39865590           CA
32         New Hampshire               10.3          1356458           NH
33              Illinois               10.1         12741080           IL
34                  Iowa               10.1          3156145           IA
35                 Idaho                9.9          1754208           ID
36            Washington                9.8          7535591           WA
37           Connecticut                9.7          3572665           CT
38              Nebraska                9.6          1929268           NE
39          North Dakota                9.6           760077           ND
40          South Dakota                9.3           882235           SD
41               Vermont                9.3           626299           VT
42               Montana                9.2          1062305           MT
43             Minnesota                8.9          5611179           MN
44             Wisconsin                8.7          5813568           WI
45               Wyoming                8.7           577737           WY
46                Alaska                8.6           737438           AK
47  District of Columbia                8.6           702455          NaN
48         Massachusetts                8.6          6902149           MA
49                  Utah                8.3          3161105           UT
50              Colorado                7.1          5695564           CO

In [16]:
factDF.to_csv("static/diabetes.csv")

In [17]:
factDF.to_json("test.json")